<section class="footer">
  <div class="container">
    <div class="search">
      <h2>Search</h2>
      <h5>about</h5>
      <h5>partners</h5>
      <h5>the wines</h5>
      <h5>contact</h5>
    </div>
    <div class="buy">
      <h2>Buy</h2>
      <h5>find a store</h5>
      <h5>shop online</h5>
    </div>
    <div class="social">
      <h2>Social</h2>

    </div>
  </div>
</section>

<footer>
  <div class="container">
    <div class="copyright">
      <p>&copy; 2016 little black dress wines. all rights reserved.</p>
    </div>
    <div class="terms">
      <p><a href="/terms">terms</a></p>
    </div>
    <div class="supply">
      <p><a href="/supply-chain-act">supply chain act</a></p>
    </div>

  </div>
</footer>

