<header class="navigation" role="banner">
  <div class="navigation-wrapper container">
    <a href="" class="logo">
      <img src="/assets/images/logo.png" alt="Logo Image">
    </a>
    <a href="" class="navigation-menu-button" id="js-mobile-menu">MENU</a>
    <div class="store"><a href="">find a store</a></div><nav role="navigation">
      <ul id="js-navigation-menu" class="navigation-menu show">
        <li class="nav-link"><a href="">wines</a></li>
        <li class="nav-link"><a href="">about</a></li>
        <li class="nav-link"><a href="">partners</a></li>
        <li class="nav-link"><a href="">contact</a></li>
      </ul>
    </nav>
  </div>
</header>
