<script>

enquire.register("screen and (max-width: 768px)", {
    match : function() {

      $(function() {
        // on load
        // console.log('up to 768px wide');

        // on resize
      });
    },
    unmatch : function() {
    }
  })
  .register("screen and (min-width: 769px)", {
    match : function() {
      var windowWidth = $(window).width(); // for resize below
      $(function() {
        // on load

        // do layout calculations
        getImageSize($('#favImage'), function(width, height){
            $('.favorites .text').height(height);
        });
        getImageSize($('#makerImage'), function(width, height){
            $('.winemaker .text').height(height);
        });

        // fade-in content
        var page = $('main, footer, .footer');
        setTimeout(function(){
          page.fadeIn();
        }, 250);

        // on resize --> prob don't need fade behavior at all, just redo positioning
        window.onresize = debounce(function(){
          if ($(window).width() != windowWidth) {
            getImageSize($('#favImage'), function(width, height){
                $('.favorites .text').height(height);
            });
            getImageSize($('#makerImage'), function(width, height){
                $('.winemaker .text').height(height);
            });
          }
        }, 500);

      });
    },
    unmatch : function() {
    }
  });

  // https://davidwalsh.name/javascript-debounce-function
  function debounce(func, wait, immediate) {
    var timeout;
    return function() {
      var context = this, args = arguments;
      var later = function() {
        timeout = null;
        if (!immediate) func.apply(context, args);
      };
      var callNow = immediate && !timeout;
      clearTimeout(timeout);
      timeout = setTimeout(later, wait);
      if (callNow) func.apply(context, args);
    };
  };

  // http://stackoverflow.com/questions/23390393/get-image-height-before-its-fully-loaded
  function getImageSize(img, callback){
      img = $(img);

      var wait = setInterval(function(){
          var w = img.width(),
              h = img.height();

          if(w && h){
              done(w, h);
          }
      }, 0);

      var onLoad;
      img.on('load', onLoad = function(){
          done(img.width(), img.height());
      });

      var isDone = false;
      function done(){
          if(isDone){
              return;
          }
          isDone = true;

          clearInterval(wait);
          img.off('load', onLoad);

          callback.apply(this, arguments);
      }
  }

</script>