<script>

  var windowWidth = $(window).width();

  $(function() {
    // on load

    var page = $('main, footer, .footer');
    setTimeout(function(){
      page.fadeIn(1000).promise().done(function(){
        $(this).removeClass('load').addClass('loaded');
      });
    }, 250);


    // on resize
    window.onresize = function(){
      // actual resize? http://tinyurl.com/qaoajzu
      if ($(window).width() != windowWidth) {
        var page = $('main, footer, .footer');
        setTimeout(function(){
          page.fadeIn(1000).promise().done(function(){
            $(this).removeClass('load').addClass('loaded');
          });
        }, 250);
      }
    }

  });

</script>