$visual-grid: true;
$visual-grid-color: yellow;
$visual-grid-index: front;
$visual-grid-opacity: 0.2;

//Base
@import
  "node_modules/normalize.scss/normalize",
  "bourbon",
  "base/base", // includes grid-settings, which must be imported before neat
  "modules/grid-settings", //overrides bitters grid-settings
  "neat";

// Modules
@import
  "modules/fonts",
  "modules/visual-grid",
  "modules/mixins",
  "modules/layouts",
  "modules/header",
  "modules/home",
  "modules/common",
  "modules/footer",
  "modules/flickity",
  "modules/utilities"
;

.bodoni-italic { font-family: ITCBodoni72Com-BookItalic; }
.bodoni-bold { font-family: ITCBodoni72Com-Bold; }
.avenir-medium { font-family: AvenirLTStd-Medium; }
.avenir { font-family: AvenirLTStd-Book; }
.avenir-bold { font-family: AvenirLTStd-Black; }

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: $base-font-family;
}

body:before {
  display: none;
}

body.grid:before {
  display: block;
}

main {
  margin-top: 90px;
}




