$visual-grid: true;
$visual-grid-color: yellow;
$visual-grid-index: front;
$visual-grid-opacity: 0.2;

//Base
@import
  "node_modules/normalize.scss/normalize",
  "bourbon",
  "base/base", // includes grid-settings, which must be imported before neat
  "modules/grid-settings", //overrides bitters grid-settings
  "neat";

// Modules
@import
  "MyFontsWebfontsKit",
  "modules/fonts",
  "modules/vars",
  "modules/visual-grid",
  "modules/mixins",
  "modules/layouts",
  "modules/header",
  // "modules/home",
  "modules/footer",
  "modules/flickity",
  "modules/utilities"
;






