<!DOCTYPE html>
<html>

  {% include head.html %}

  <body class="{% if page.class %}{{ page.class }}{% endif %}">

  {% include header.html %}


    {{ content }}


  {% include footer.html %}

  <!-- JS -->
  <!-- inject:js -->
  <!-- endinject -->


  </body>

  {% if page.class == 'wines' %}
    {% include scripts_wines.html %}
  {% endif %}
  {% if page.class == 'wine' %}
    {% include scripts_wine.html %}
  {% endif %}
  {% if page.class == 'about' %}
    {% include scripts_about.html %}
  {% endif %}
  {% if page.class == 'partners' %}
    {% include scripts_partners.html %}
  {% endif %}
  {% if page.class == 'contact' %}
    {% include scripts_contact.html %}
  {% endif %}
  {% if page.class == 'supply' %}
    {% include scripts_supply.html %}
  {% endif %}
  {% if page.class == 'terms' %}
    {% include scripts_terms.html %}
  {% endif %}

</html>
