.about {

  section.headline {
    .inner {
      @include media($l-up){
        @include span-columns(6);
        @include shift(3);
        margin-top: 108px;
        text-align: center;
      }
      h1 {
        display: inline-block;
        margin-top: 0px;
        margin-bottom: 1.8rem;
        padding-bottom: 2px;
        border-bottom: 6px solid #edd5d8;
      }
      p {
        margin-top: 0px;
        line-height: 1.5;
      }
    }
  }

  section.top-image {
    clear: both;
    @include media($l-up) {
      padding-top: 90px;
    }
  }

  section.text {
    @include media($l-up){
      margin-top: 90px;
      h2 {
        @include span-columns(4);
        @include shift(4);
        font-size: 36px;
        margin-top: 0px;
        margin-bottom: 0px;
      }
    }
  }

  section.winemaker {
    @include media($l-up){
      margin-top: 135px;
      .text {
        @include span-columns(4);
        @include shift(1);
        .wrapper {
          @include span-columns(4 of 4);
          @include vertical-align;
          h3 {
            margin-top: .75rem;
          }
          p {
            line-height: 1.7;
          }
          button {
            @include transition(all .2s ease);
            margin-top: .5rem;
            padding: 1.3em 1em;
            width: 230px;
            background-color: #eed5d8;
            border-radius: 0px;
            &:hover {
              opacity: .7;
              color: #313131;
            }
          }
        }
      }
      .image {
        @include span-columns(5);
        @include shift();
      }
    }
  }

  section.quote {
    @include media($l-up){
      margin-top: 90px;
      .quote-wrapper {
        @include span-columns(3);
        @include shift(6);
        img {
          max-width: 100%;
        }
      }
    }
  }

  section.bottom-image {
    @include media($l-up) {
      position: relative;
      margin-top: 135px;
    }
  }

}