.contact {

  section.headline {
    .inner {
      @include media($l-up){
        @include span-columns(6);
        @include shift(3);
        margin-top: 108px;
        text-align: center;
      }
      h1 {
        display: inline-block;
        margin-top: 0px;
        margin-bottom: 1.8rem;
        padding-bottom: 2px;
        border-bottom: 6px solid #edd5d8;
      }
      p {
        margin-top: 0px;
        line-height: 1.5;
      }
    }
  }

  section.contacts {
    clear: both;
    margin-bottom: 15px;
    @include media($l-up){
      padding-top: 90px;
    }
    .questions {
      @include media(min-width 769px max-width 900px){
        @include span-columns(5);
        @include shift(1);
      }
      @include media(900px){
        @include span-columns(4);
        @include shift(2);
      }
      padding: 4.5rem 0;
      background-color: #eeeeee;
      @include shift(2);
      h4 {
        text-align: center;
        position: relative;
      }
      h4:after {
        content : "";
        position: absolute;
        left    : 40%;
        right  : 40%;
        bottom: -24px;
        height  : 1px;
        width   : 20%;
        border-bottom:2px solid #edd5d8;
      }
      p {
        line-height: 1;
        margin-top: 45px;
        margin-bottom: 0px;
        text-align: center;
      }
      p a {
        color: #000000;
        letter-spacing: 1px;
        text-decoration: none;
      }
    }
    .partnership {
      @include media(min-width 769px max-width 900px){
        @include span-columns(5);
      }
      @include media(900px){
        @include span-columns(4);
      }
      padding: 4.5rem 0;
      background-color: #eeeeee;
      h4 {
        text-align: center;
        position: relative;
      }
      h4:after {
        content : "";
        position: absolute;
        left    : 40%;
        right  : 40%;
        bottom: -24px;
        height  : 1px;
        width   : 20%;
        border-bottom:2px solid #edd5d8;
      }
      p {
        line-height: 1;
        margin-top: 45px;
        margin-bottom: 0px;
        text-align: center;
      }
      p a {
        color: #000000;
        letter-spacing: 1px;
        text-decoration: none;
      }
    }
  }

 // sticky footer
  .footer-wrapper {
    @include media($l-up){
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
    }
  }

}