.ITCBodoni72Com-BookItalic { font-family: ITCBodoni72Com-BookItalic; }
.ITCBodoni72Com-Bold { font-family: ITCBodoni72Com-Bold; }
.AvenirLTStd-Medium { font-family: AvenirLTStd-Medium; }
.AvenirLTStd-Book { font-family: AvenirLTStd-Book; }
.AvenirLTStd-Black { font-family: AvenirLTStd-Black; }
