.footer {
  @include media($l-up){
    margin-top: 135px;
  }
  @include media(min-width 100px max-width 1385px){
    @include pad(0 1rem);
  }
  a {
    color: #000000;
    text-decoration: none;
  }
  .search {
    @include media($s){
      text-align: center;
      h2 {
        display: inline-block;
        margin-top: 0px;
        margin-bottom: 45px;
        padding-bottom: 45px;
        padding-right: 25%;
        padding-left: 25%;
        border-bottom: 1px solid #000000;
      }
      h5 {
        margin-top: 0px;
        margin-bottom: 45px;
      }
    }
    @include media($l-up){
      @include span-columns(3);
      text-align: left;
      h2 {
        display: block;
        text-align: left;
        padding-bottom: .75rem;
        padding-right: 0px;
        padding-left: 0px;
        margin-top: 0px;
        margin-bottom: 2rem;
        border-bottom: 1px solid #000000;
      }
      h5 {
        @include span-columns(1 of 3);
        margin-top: 0px;
        margin-bottom: 1rem;
        text-align: left;
      }
    }
  }
  .buy {
    @include media($s){
      text-align: center;
      h2 {
        display: inline-block;
        margin-top: 45px;
        margin-bottom: 45px;
        padding-bottom: 45px;
        padding-right: 25%;
        padding-left: 25%;
        border-bottom: 1px solid #000000;
      }
      h5 {
        margin-top: 0px;
        margin-bottom: 45px;
      }
    }
    @include media($l-up){
      @include span-columns(3);
      @include shift(1);
      h2 {
        display: block;
        text-align: left;
        padding-bottom: .75rem;
        padding-right: 0px;
        padding-left: 0px;
        margin-top: 0px;
        margin-bottom: 2rem;
        border-bottom: 1px solid #000000;
      }
      h5 {
        @include span-columns(1 of 3);
        margin-top: 0px;
        margin-bottom: 1rem;
        text-align: left;
      }
    }
  }
  .social {
    @include media($s){
      text-align: center;
      h2 {
        display: inline-block;
        margin-top: 45px;
        margin-bottom: 45px;
        padding-bottom: 45px;
        padding-right: 25%;
        padding-left: 25%;
        border-bottom: 1px solid #000000;
      }
      h5 {
        margin-top: 0px;
        margin-bottom: 45px;
      }
      i {
        margin-left: 1.5rem;
        margin-right: 1.5rem;
        font-size: 27px;
      }
    }
    @include media($l-up){
      @include span-columns(3);
      @include shift(1);
      text-align: left;
      h2 {
        display: block;
        text-align: left;
        padding-bottom: .75rem;
        padding-right: 0px;
        padding-left: 0px;
        margin-top: 0px;
        margin-bottom: 2rem;
        border-bottom: 1px solid #000000;
      }
      h5 {
        @include span-columns(1 of 3);
        margin-top: 0px;
        margin-bottom: 1rem;
        text-align: left;
      }
      i {
        margin-left: 0px;
        margin-right: 1rem;
        font-size: 1rem;
      }
    }
  }
}

footer {
  margin-top: 50px;
  background: #000000;
  font-family: AvenirLTStd-Book;
  letter-spacing: 2px;
  color: white;
  @include media(min-width 100px max-width 1385px){
    @include pad(0 1rem);
  }
  .copyright {
    @include media($l-up){
      display: inline-block;
      height: 45px;
      float: left;
      p {
        font-size: 10px;
        color: white;
        text-transform: uppercase;
        letter-spacing: 2px;
        margin: 0px;
        margin-top: 2px;
        @include vertical-align;
      }
    }
  }
  .terms, .supply {
    @include media($l-up){
      display: inline-block;
      height: 45px;
      margin-left: 3rem;
      float: right;
      p {
        margin: 0px;
        margin-top: 2px;
        font-size: 10px;
        line-height: 10px;
        @include vertical-align;
        a {
          color: white;
          text-transform: uppercase;
          letter-spacing: 2px;
          text-decoration: none;
        }
      }
    }
  }



}


