.footer {
  @include media($l-up){
    margin-top: 135px;
  }
  .search {
    @include media($l-up){
      @include span-columns(3);
      h2 {
        text-align: left;
        padding-bottom: .75rem;
        margin-top: 0px;
        margin-bottom: 2rem;
        border-bottom: 1px solid #313131;
      }
      h5 {
        @include span-columns(1 of 3);
        margin-top: 0px;
        margin-bottom: 1rem;
        text-align: left;
      }
    }
  }
  .buy {
    @include media($l-up){
      @include span-columns(3);
      @include shift(1);
      h2 {
        text-align: left;
        padding-bottom: .75rem;
        margin-top: 0px;
        margin-bottom: 2rem;
        border-bottom: 1px solid #313131;
      }
      h5 {
        @include span-columns(1 of 3);
        margin-top: 0px;
        margin-bottom: 1rem;
        text-align: left;
      }
    }
  }
  .social {
    @include media($l-up){
      @include span-columns(3);
      @include shift(1);
      h2 {
        text-align: left;
        padding-bottom: .75rem;
        margin-top: 0px;
        margin-bottom: 2rem;
        border-bottom: 1px solid #313131;
      }
      h5 {
        @include span-columns(1 of 3);
        margin-top: 0px;
        margin-bottom: 1rem;
        text-align: left;
      }
    }
  }
}