.home {

  section.top-image {
    @include media($l-up) {
      position: relative;
      padding-top: 45px;
    }
    .headline {
      position: absolute;
      z-index: 100;
      // top: 100px;
      left: 17%;
      text-align: center;
      padding-bottom: .65rem;
      border-bottom: 8px solid #dbb7bb;
      @include center(y);
      .top {
        font-family: ITCBodoni72Com-BookItalic;
        font-size: 42px;
        letter-spacing: 2px;
        margin: 0px !important;
      }
      .bottom {
        font-family: AvenirLTStd-Book;
        font-size: 30px;
        letter-spacing: 2px;
        text-transform: uppercase;
        margin: 0px !important;
      }
    }
  }

  section.favorites {
    @include media($l-up){
      margin-top: 135px;
      .text {
        @include span-columns(5);
        @include shift(1);
        .wrapper {
          @include span-columns(3 of 5);
          @include vertical-align;
          // opacity: 0;
          h3 {
            margin-top: .75rem;
          }
          p {
            line-height: 1.7;
          }
          button {
            @include transition(all .2s ease);
            margin-top: .5rem;
            padding: 1.3em 1em;
            width: 230px;
            background-color: #eed5d8;
            border-radius: 0px;
            &:hover {
              opacity: .7;
              color: #313131;
            }
          }
        }
      }
      .image {
        @include span-columns(5);
      }
    }
  }

  section.middle-image {
    @include media($l-up) {
      position: relative;
      margin-top: 135px;
    }
  }

  section.winemaker {
    @include media($l-up){
      margin-top: 135px;
      .text {
        animation: fadein 1s;
        @include span-columns(4);
        @include shift(1);
        .wrapper {
          animation: fadein 1s;
          @include span-columns(3 of 4);
          @include vertical-align;
          h3 {
            margin-top: .75rem;
          }
          p {
            line-height: 1.7;
          }
          button {
            @include transition(all .2s ease);
            margin-top: .5rem;
            padding: 1.3em 1em;
            width: 230px;
            background-color: #eed5d8;
            border-radius: 0px;
            &:hover {
              opacity: .7;
              color: #313131;
            }
          }
        }
      }
      .image {
        @include span-columns(5);
        @include shift(2);
      }
    }
  }

  section.quote {
    @include media($l-up){
      margin-top: 89px;
      .quote-wrapper {
        @include span-columns(3);
        @include shift(6);
        img {
          max-width: 100%;
        }
      }
    }
  }

  section.products {
    @include media($l-up){
      margin-top: 135px;
      margin-bottom: 70px;
    }
    h3 {
      text-align: center;
      margin-bottom: 72px;
    }
    h2 {
      margin-top: 22px;
      margin-bottom: 0px;
    }
    h5 {
      margin-top: 12px !important;
    }
    .product {
      @include span-columns(4);
      img {
        display: block;
      }
      a {
        @include transition(all .2s ease);
      }
      a img:hover {
        @include transition(all .2s ease);
        opacity: .7;
      }
    }
  }

  section.cta {
    @include media($l-up){
      margin-bottom: 135px;
      .buttons {
        @include span-columns(12);
        // @include shift(3);
        text-align: center;
        .all {
          @include transition(all .2s ease);
          margin-top: .5rem;
          // margin-left: 27px;
          margin-right: 27px;
          padding: 1.3em 1em;
          width: 230px;
          background-color: #eed5d8;
          border-radius: 0px;
          &:hover {
            @include transition(all .2s ease);
            opacity: .7;
            color: #313131;
          }
        }
        .store {
          @include transition(all .2s ease);
          margin-top: .5rem;
          // margin-left: 27px;
          // margin-right: 27px;
          padding: 1em 1em;
          width: 230px;
          background-color: transparent;
          border: 3px solid #dbb7bb;
          border-radius: 0px;
          &:hover {
            @include transition(all .2s ease);
            opacity: .7;
            color: #313131;
          }
        }
      }
    }
  }

  section.bottom-image {
    @include media($l-up) {
      position: relative;
      margin-top: 135px;
    }
  }

}