.wine {

  section.featured {
    @include media($l-up){
      margin-top: 108px;
      .info {
        @include span-columns(5);
        .name, .description, .notes, .varietal {
          @include span-columns(5 of 5);
          padding-top: 1rem;
          padding-bottom: 1rem;
          border-bottom: 2px solid #f2f2f2;
        }
        .name {
          padding-bottom: 2rem;
          h3 {
            line-height: 1.2;
          }
          h4 {
            margin-top: .8rem;
          }
        }
        .description {
          p {
            line-height: 1.5;
          }
        }
        .notes {
          h4 {
            margin-bottom: 1rem;
          }
          p {
            margin: 0px;
            line-height: 1.5;
          }
        }
        .wrapper {
          @include span-columns(4 of 5);
        }
      }
      .image  {
        @include span-columns(6);
        @include shift(1);
        text-align: right;
      }
    }
  }

  section.all {
    @include media($l-up){
      margin-top: 6rem;
    }
    h2 {
      text-align: left;
      margin-top: 22px;
      margin-bottom: .25rem;
    }
    h5 {
      margin-top: 12px !important;
      margin-bottom: 0px;
    }
    .product {
      @include span-columns(4);
      margin-bottom: 150px;
      img {
        display: block;
      }
      h2 {
        text-align: center;
      }
    }
    .product:nth-of-type(3n) {
      margin-right: 0;
    }
  }

  section.cta {
    @include media($l-up){
      // margin-bottom: 135px;
      .buttons {
        @include transition(all .2s ease);
        text-align: center;
        .store {
          margin-top: .5rem;
          // margin-left: 27px;
          // margin-right: 27px;
          padding: 1em 1em;
          width: 230px;
          background-color: transparent;
          border: 3px solid #dbb7bb;
          border-radius: 0px;
          &:hover {
            opacity: .7;
            color: #313131;
          }
        }
      }
    }
  }

}