.wines {

  section.headline {
    .inner {
      @include media($l-up){
        @include span-columns(6);
        @include shift(3);
        margin-top: 108px;
        text-align: center;
      }
      h1 {
        display: inline-block;
        margin-top: 0px;
        margin-bottom: 1.8rem;
        padding-bottom: 2px;
        border-bottom: 6px solid #edd5d8;
      }
      p {
        margin-top: 0px;
        line-height: 1.5;
      }
    }
  }

  section.products {
    @include media($l-up){
      margin-top: 74px;
    }
    h3 {
      text-align: center;
      margin-bottom: 72px;
    }
    h2 {
      margin-top: 22px;
      margin-bottom: 0px;
    }
    h5 {
      margin-top: 12px !important;
      margin-bottom: 0px;
    }
    .product {
      @include span-columns(4);
      margin-bottom: 90px;
      // opacity: 0;
      img {
        display: block;
      }
      a {
        @include transition(all .2s ease);
      }
      a img:hover {
        @include transition(all .2s ease);
        opacity: .7;
      }
    }
  }

  section.grid1 {
    .product:nth-child(3n) {
      margin-right: 0;
    }
    img.breakout {
      margin-bottom: 115px;
    }
  }

  section.grid2 {
    .product:nth-child(3n) {
      margin-right: 0;
    }
    .product:last-child {
      @include shift(1);
    }
    img.breakout {
      margin-bottom: 135px;
    }
  }

  img.breakout {
    @include media($l-up){
      @include span-columns(6);
      @include shift(1);
    }
  }

  section.cta {
    @include media($l-up){
      // margin-bottom: 135px;
      .buttons {
        @include transition(all .2s ease);
        text-align: center;
        a {
          @include transition(all .2s ease);
        }
        .store {
          margin-top: .5rem;
          // margin-left: 27px;
          // margin-right: 27px;
          padding: 1em 1em;
          width: 230px;
          background-color: transparent;
          border: 3px solid #dbb7bb;
          border-radius: 0px;
          &:hover {
            @include transition(all .2s ease);
            opacity: .7;
            color: #313131;
          }
        }
      }
    }
  }


}